Spoonies-Backend/backend/src/main/resources/spoonies-a1f59-firebase-adminsdk-fbsvc-af74f077fc.json
Spoonies-Backend/backend/target/classes/spoonies-a1f59-firebase-adminsdk-fbsvc-af74f077fc.json
node_modules
.fake